.App {
  text-align: center;

 /* background-color: rgb(239, 241, 200); */
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  padding: 2em; 
  margin: 0;
}

.container{
  background-color: rgb(5, 177, 208);

}

.row1{
  font-weight: bold;
  font-size:6 vw;
  color: white;
  text-align: left;
  padding: 10px;
  margin:0px;
  flex: 1 100%;
  flex-flow: row wrap;
  background-color: deepskyblue;
  height: 220px;
  align-items: center;
}

@media all and (min-width: 600px) {
  .url{
    font-size: 30px;
    padding-right: 253px;
  } 
}

.row2{
  color: rgb(81, 15, 136);
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: left;
  
  font-size: 2vw;
  margin: 0px;
  flex: 1 100%;
  
}

.row2col1{
  width: 1030px;
  height: 200px;
  background-color: rgb(21, 2, 29);
}
.row2col2{
  background-color: rgb(236, 45, 134);
  justify-content: center;
}

.row3{
  background-color: rgb(94, 209, 28);
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  padding: 0px;
  margin: 0px;
  flex: 1 100%;
}
.row3col1{
  background-color: rgb(91, 5, 148);
  width: 1030px;
  height: 200px;
}
.row3col2
.row3col3{
  max-width: 100%;
  height: auto;
    padding: 0px;
    height: fit-content;
  
 
}

.row4{
  max-height: 680px;
  height: fit-content;
  padding: 20px;
  background-color: rgb(228, 226, 218);
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  margin:0 px;
  flex: 1 100%;
  justify-content: inherit;
  font-size: 4 vw;
  
}

.aside{
  display: flex;
  flex-direction:row;
}

.chevron-style{
  color: white;
  font-size: 30px;
  position: relative;
}

.text-align-center{
  text-align: center;
}

.inline-block{
  display: inline-block;
  text-align: left;
}
